<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tag Seo -->
    <title>Software Systems</title>
    <meta name="keywords" content="Servicios,Venta de Productos, Instalacion de sistemas de video vigilancia, configuración de servidores linux, diseño y programación de páginas web y aplicaciones web">
    <meta name="description" content="Ventas y serviciones en productos de computo, sistemas de video vigilancia, instalación y configuraciones de servidores con sistemas linux, diseño y programación aplicada en sistemas web">

    <link rel="icon" href="../Img/logo.jpg" type="image/jpg" />
    <!-- Estilos bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/Sass/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="portada">
        <img src="../Img/portada6.jpg" alt="">

    </div>

    <header id="header">


        <nav class="navbar navbar-dark navbar-expand-lg bg-menu">
            <div class="container">

                <a class="navbar-brand" href="../index.html"><img src="../Img/logo.jpg" alt="logo" class="img-logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./quienesSomos.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Servicios que Ofrecemos
                </a>
                            <ul class="dropdown-menu bg-fondo">
                                <li><a class="dropdown-item" href="./servicios.html">Servicios</a></li>
                                <li><a class="dropdown-item" href="./productos.html">Productos</a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- <div class="logo">
            <img src="./Img/logo.jpg" alt="logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html" target="_self">Home</a></li>
                <li><a href="./Views/quienesSomos.html" target="_self">Nosotros</a></li>
                <li><a href="#">Servicios que Ofrecemos</a>
                    <ul>
                        <li><a href="./Views/servicios.html" target="_self">Servicios</a></li>
                        <li><a href="./Views/productos.html" target="_self">Productos</a></li>
                    </ul>
                </li>
                <li><a href="./Views/contacto.html" target="_self">Contacto</a></li>
            </ul>
        </nav> -->
    </header>


    <!-- Sección Card -->


    <section class="contenido-productos">
        <div class="container mt-5">
            <div class="titulo-servicio">
                <h2 data-aos="fade-right">Productos.</h2>
            </div>
            <div class=" row row-cols-3 gap-5 justify-content-evenly">

                <div class="card col style-card ">
                    <img src="../Img/producto1.jpg" class="card-img-top" alt="..." data-aos="zoom-out-up">
                    <div class="card-body">
                        <h5 class="card-title text-center">Discos de Almacenamiento</h5>
                        <p class="card-text text-center">Catálogo de Discos de Almacenamiento.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Ver Productos</a>
                    </div>
                </div>
                <div class="card col style-card">
                    <img src="../Img/producto2.jpg" " class="card-img-top " alt="... " data-aos="zoom-out-up ">
                    <div class="card-body ">
                        <h5 class="card-title text-center ">Teclados</h5>
                        <p class="card-text text-center ">Catálogo de Teclados.</p>
                        <a href="# " class="btn btn-primary d-flex justify-content-center ">Ver Productos</a>
                    </div>
                </div>
                <div class="card col style-card " >
                    <img src="../Img/producto3.jpg "" class="card-img-top" alt="..." data-aos="zoom-out-up">
                    <div class="card-body">
                        <h5 class="card-title text-center">Monitores</h5>
                        <p class="card-text text-center">Catálogo de Monitores.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Ver Productos</a>
                    </div>
                </div>

                <div class="card col style-card">
                    <img src="../Img/producto4.jpg" " class="card-img-top " alt="... " data-aos="zoom-out-up ">
                    <div class="card-body ">
                        <h5 class="card-title text-center ">Redes</h5>
                        <p class="card-text text-center ">Catálogos de Productos para Red.</p>
                        <a href="# " class="btn btn-primary d-flex justify-content-center ">Ver Productos</a>
                    </div>
                </div>

                <div class="card col style-card " >
                    <img src="../Img/producto5.jpg "" class="card-img-top" alt="..." data-aos="zoom-out-up">
                    <div class="card-body">
                        <h5 class="card-title text-center">Servidores</h5>
                        <p class="card-text text-center">Catálogo de Servidores.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Ver Productos</a>
                    </div>
                </div>

                <div class="card col style-card">
                    <img src="../Img/producto6.jpg" " class="card-img-top " alt="... " data-aos="zoom-out-up ">
                    <div class="card-body ">
                        <h5 class="card-title text-center ">Mother Boards</h5>
                        <p class="card-text text-center ">Catálogo de Mother Boards.</p>
                        <a href="# " class="btn btn-primary d-flex justify-content-center ">Ver Productos</a>
                    </div>
                </div>


                 <div class="card col style-card " >
                    <img src="../Img/producto7.jpg "" class="card-img-top" alt="..." data-aos="zoom-out-up">
                    <div class="card-body">
                        <h5 class="card-title text-center">Videovigilancia</h5>
                        <p class="card-text text-center">Catálogo de Productos para Videovigilancia.</p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center">Ver Productos</a>
                    </div>
                </div>

            </div>
        </div>

    </section>




    <!-- <section id="Contenido-productos">
        <h1>Categorías</h1>

        <div class="linea"></div>

        <div class="productos container text-center">


            <div class="d-grid row">
                <div class="productos1 col-md-5 d-grid gap-5">

                    <div class="img-productos1">
                        <img src="../Img/producto1.jpg" alt="" class="img-productos">
                    </div>
                    <a href="#" class="ver-Productos">Producto 1.</a>

                </div>

                <div class="productos2 col-md-5 d-grid gap-5">
                    <div class="img-productos2">
                        <img src="../Img/producto2.jpg" alt="" class="img-productos">
                    </div>
                    <a href="#" class="ver-Productos">Producto 2.</a>


                </div>

                <div class="productos3 col-md-5 d-grid gap-5">
                    <div class="img-productos3">
                        <img src="../Img/producto3.jpg" alt="" class="img-productos">
                    </div>
                    <a href="#" class="ver-Productos">Producto 3.</a>


                </div>

                <div class="productos4 col-md-5 d-grid gap-5">
                    <div class="img-productos4">
                        <img src="../Img/producto4.jpg" alt="" class="img-productos">
                    </div>
                    <a href="#" class="ver-Productos">Producto 4.</a>

                </div>
                <div class="productos5 col-md-5 d-grid gap-5">
                    <div class="img-productos5">
                        <img src="../Img/producto5.jpg" alt="" class="img-productos">
                    </div>
                    <a href="#" class="ver-Productos">Producto 5.</a>

                </div>
                <div class="productos6 col-md-5 d-grid gap-5">
                    <div class="img-productos6">
                        <img src="../Img/producto6.jpg" alt="" class="img-productos">
                    </div>
                    <a href="#" class="ver-Productos">Producto 6.</a>

                </div>
                <div class="productos7 col-md-5 d-grid gap-5">
                    <div class="img-productos7">
                        <img src="../Img/producto7.jpg" alt="" class="img-productos">
                    </div>
                    <a href="#" class="ver-Productos">Producto 7.</a>

                </div>
            </div>

        </div>

    </section> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js">
    </script>
    <script>
        AOS.init();
    </script>

    <footer>
        <p>
            @Copyright 2022
        </p>

        <a href="mailito:rnavarrete_cervantes@hotmail.com?subject=S ubject text "> <img src="../Img/gmail.png" alt=Logotipo para enviar correo de contacto " /></a>

        <a href="#"><img src="../Img/facebook.png" alt="Contactar por facebook"></a>
        <a href="#"><img src="../Img/instagram.png" alt="Contactar por Instagram"></a>
        <a href="#"><img src="../Img/linkedin.png" alt="Contactar por linkedin"></a>
        <a href="#"><img src="../Img/whatsapp.png" alt="Contactar por whatssap"></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>