<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Systems.</title>
    <link rel="icon" href="../Img/logo.jpg" type="image/jpg" />
    <!-- Estilos bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/Sass/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="portada">
        <img src="../Img/portada6.jpg" alt="">

    </div>
    <header id="header">


        <nav class="navbar navbar-dark navbar-expand-lg bg-menu">
            <div class="container">

                <a class="navbar-brand" href="../index.html"><img src="../Img/logo.jpg" alt="logo" class="img-logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./quienesSomos.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Servicios que Ofrecemos
                </a>
                            <ul class="dropdown-menu bg-fondo">
                                <li><a class="dropdown-item" href="./servicios.html">Servicios</a></li>
                                <li><a class="dropdown-item" href="./productos.html">Productos</a></li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- <div class="logo">
            <img src="./Img/logo.jpg" alt="logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html" target="_self">Home</a></li>
                <li><a href="./Views/quienesSomos.html" target="_self">Nosotros</a></li>
                <li><a href="#">Servicios que Ofrecemos</a>
                    <ul>
                        <li><a href="./Views/servicios.html" target="_self">Servicios</a></li>
                        <li><a href="./Views/productos.html" target="_self">Productos</a></li>
                    </ul>
                </li>
                <li><a href="./Views/contacto.html" target="_self">Contacto</a></li>
            </ul>
        </nav> -->
    </header>

    <section class="contenido-sevicios">

        <div class="servicios">

            <div class="servicio1">

                <img src="../Img/correo1.jpg" alt="" class="img-servicio">
                <p>Administración, Configuración y Creación de correos electrónicos</p>
                <div class="boton-centrado">
                    <button class="carrito-compras">Agregar al Carrito</button>
                </div>
            </div>

            <div class="servicio1">
                <img src="../Img/servicio2.png" alt="" class="img-servicio">
                <p>Creación de páginas web y movil, programación para aplicaciones web y aplicaciones moviles, Mantenimiento y montaje en servidor web. </p>
                <div class="boton-centrado">
                    <button class="carrito-compras">Agregar al Carrito</button>
                </div>

            </div>

            <div class="servicio1">
                <img src="../Img/servicio3.jpg" alt="" class="img-servicio">
                <p>Instalación, Configuración de sistemas de videovigilancia. </p>
                <div class="boton-centrado">
                    <button class="carrito-compras">Agregar al Carrito</button>
                </div>

            </div>

            <div class="servicio1">
                <img src="../Img/servicio4.jpg" alt="" class="img-servicio">
                <p>Instalación, Configuración de servidores proxys, web y Samba.</p>
                <div class="boton-centrado">
                    <button class="carrito-compras">Agregar al Carrito</button>
                </div>

            </div>
        </div>




    </section>





    <footer>
        <p>
            @Copyright 2022
        </p>

        <a href="mailito:rnavarrete_cervantes@hotmail.com?subject=S ubject text "> <img src="../Img/gmail.png" alt=Logotipo para enviar correo de contacto " /></a>

        <a href="#"><img src="../Img/facebook.png" alt="Contactar por facebook"></a>
        <a href="#"><img src="../Img/instagram.png" alt="Contactar por Instagram"></a>
        <a href="#"><img src="../Img/linkedin.png" alt="Contactar por linkedin"></a>
        <a href="#"><img src="../Img/whatsapp.png" alt="Contactar por whatssap"></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>