/*Var colores*/

$texto__link:white;
$texto__linkHover:blue;
$texto__Negro:black;
$texto__Cafe:maroon;

/*Variables fondo*/

$bg__Fbody: #003366;
$bg__Fheader:#ff9900;
$bg__Fgradient:linear-gradient(#003d99, #003366, #66b3ff);
$bg__Fcarrito: rgb(37, 150, 190);