@import 'variables';

/*Estilos al Video de Youtube*/

.video {
    margin-top: 25%;
    width: 100%;
    .titulo-video {
        width: 100%;
        h2 {
            font-size: 30px;
            font-weight: bold;
            color: $texto__link;
            text-align: center;
        }
    }
    .pelicula-video {
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }
}